
.top_div{
-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
      }
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.load_place_vert{
  background:url('/images/verticalplaceholder.jpg');
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
}
.load_place_vert1{
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
}
.audio-main .progress-bar{
  background-color:'' !important;
}
.validation_error{
  border:2px solid red !important;
}
